body {
    text-align: center;
    background-image: url("images/stardust/stardust.png");
    color:white;
}
#guessWord {
    letter-spacing: 8px;
}
.normal {
    color: white;
}
.lost {
    color:red;
}
img {
    height:200px;
    position:fixed;
    bottom:0;
    left:0;
}

